.input-field {
    gap: 3px;
    margin-bottom: 10px;
}

.input-field label{
    color: #0C1421;
    font-size: 15px;
}

.input-field input {
    border-radius: 100px;
    border: 1px solid #00000066;
    background: #FFFFFF;
    font-family: Poppins;
    padding: 7px 13px;
}

